/* inicio Carousel  */
section.hero div.carousel{
    position: relative;
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span 1;
    overflow: hidden;
}

.carousel-item{
   
    display: none;
    top:0px;
    left: 0px;
    z-index: 0;
}

.carousel-item:nth-of-type(1){
    
    display: inline-block;
}

.fadeIn {
	animation: 3000ms fadeIn1;
}

@keyframes fadeIn1 {
    0% {
        opacity : 0.0;
    }

    100%{
        opacity: 1;
    }
 }


.slide{
    width:99vw;
    padding: 0px;
    margin: 0px ;
    border: 0px;
}

section#intro  div#bradio{
    background-color:rgba(0,14,28,0.8);
    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
    text-align: center;
    height: 30px;
}

section#intro  div#bradio span:nth-child(1){
    background-color:#0091a2ff;

}

section#intro  div#bradio span{
    display: inline-block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-top: 7.5px;
    background-color: white;
}

@media screen and (max-width: 800px){
    Section#introNosotros div.carousel{
        grid-row-start: 2;
        grid-row-end: span 1;
    }  
}